
extends layout
block content
	nav.navbar.navbar-expand-sm.bg-light
	
			ul.navbar-nav
							
				.navbar-nav.ml-auto
					.nav-item
						button.btn.navbar-btn.btn-outline-dark#btn-logout Sign Out
				.btm-links

					li.nav-item
				a.nav-link(href='/print') Next
				li.nav-item
				a.nav-link(href='/signup') Add user
	

	//- include account
	include main
	include modals/alert
	include modals/confirm

block scripts
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')
	script(src='/js/form-validators/accountValidator.js')