extends layout

block content
  .main.container
    .row
      .col-md-4.col-md
        p.display-4.m-b-1 Add Item

        // register form
  div.container(style='boarder:5px auto')
      #account-form-container.center-vertical
        form(method='POST' action='/home')
          div.form-group
            label(for='Item') Item Number:
            input#item.form-control(type='number', placeholder='Item number' name='number')
          div.form-group
            label(for='Item_name') Item name:
            input#item_name.form-control(type='text', placeholder='Item Name' name='item_name')
          div.form-group
            label(for='Describtion') Describtion:
            input#describtion.form-control(type='text', placeholder='Describtion' name='describtion')
          div.form-group
            label(for='Price') price:
            input#price.form-control(type='float', placeholder='Price($)' name='price')
          div.form-group
            label(for='qty') Qty:
            input#qty.form-control(type='number' name='qty')
          div.form-group
            label(for='image') upload image:
            input#image.form-contro(type='file' name='image')

          .form-buttons
                button(type='button')#account-form-btn1.btn.btn-outline-dark
                button(type='submit')#account-form-btn2.btn.btn-primary
